[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
twine = "*"
pytest-cov = "*"
codecov = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.7"
